<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.swpu.uchain.demo.dao.HeadLineMapper" >
  <resultMap id="BaseResultMap" type="com.swpu.uchain.demo.entity.HeadLine" >
    <id column="line_id" property="lineId" jdbcType="INTEGER" />
    <result column="line_name" property="lineName" jdbcType="VARCHAR" />
    <result column="line_link" property="lineLink" jdbcType="VARCHAR" />
    <result column="line_img" property="lineImg" jdbcType="VARCHAR" />
    <result column="priority" property="priority" jdbcType="INTEGER" />
    <result column="enable_status" property="enableStatus" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="last_edit_time" property="lastEditTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_head_line
    where line_id = #{lineId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.swpu.uchain.demo.entity.HeadLine" >
    insert into tb_head_line (line_id, line_name, line_link, 
      line_img, priority, enable_status, 
      create_time, last_edit_time)
    values (#{lineId,jdbcType=INTEGER}, #{lineName,jdbcType=VARCHAR}, #{lineLink,jdbcType=VARCHAR}, 
      #{lineImg,jdbcType=VARCHAR}, #{priority,jdbcType=INTEGER}, #{enableStatus,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{lastEditTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.swpu.uchain.demo.entity.HeadLine" >
    update tb_head_line
    set line_name = #{lineName,jdbcType=VARCHAR},
      line_link = #{lineLink,jdbcType=VARCHAR},
      line_img = #{lineImg,jdbcType=VARCHAR},
      priority = #{priority,jdbcType=INTEGER},
      enable_status = #{enableStatus,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      last_edit_time = #{lastEditTime,jdbcType=TIMESTAMP}
    where line_id = #{lineId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select line_id, line_name, line_link, line_img, priority, enable_status, create_time, 
    last_edit_time
    from tb_head_line
    where line_id = #{lineId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select line_id, line_name, line_link, line_img, priority, enable_status, create_time, 
    last_edit_time
    from tb_head_line
  </select>
</mapper>